#experience {
    background-color: #EEBD6B;
    padding: 30px;
    /* position: relative; */
}

.content {
    text-align: center;
    display: flex;
    flex-flow: column;
    flex-wrap: wrap;
    margin: 20px 0px;
}

.experienceEntry {
    display: flex;
    flex-flow: row;
    flex-wrap: nowrap;

    width: 70vw;
    background-color: white;
    margin: 20px 20px;
    align-self: center;
    
}

.experienceEntry img {
    width: 70px;
    height: 70px;
    border-radius: 15px;
    display: inline-block;
}

.experienceTextContainer {
    display: inline-block;
    text-align: left;
    margin-left: 20px;
}

#resumeDownloadContainer {
    text-align: center;
}

#resumeDownload {
    position: relative;
    margin: 0 auto;

    width: 200px;
    padding: 20px;

    border: 3px solid #04082E;
    border-radius: 20px;
}