#experience {
    background-color: #EEBD6B;
    padding: 30px;
    /* position: relative; */
}

.title {
    position: relative;
    margin: 0 auto;
    text-align: center;
    display: block;
    font-size: 30px;
    font-weight: 600;
}

.content {
    text-align: center;
    display: flex;
    flex-flow: column;
    flex-wrap: wrap;
}

.experienceEntry {
    display: flex;
    flex-flow: row;
    flex-wrap: nowrap;

    width: 70vw;
    background-color: white;
    margin: 20px 20px;
    align-self: center;
    
}

.experienceEntry img {
    width: 70px;
    height: 70px;
    border-radius: 15px;
    display: inline-block;
}

.experienceTextContainer {
    display: inline-block;
    text-align: left;
    margin-left: 20px;
}