@import url('https://fonts.googleapis.com/css?family=KoHo:300,400,600');

body {
    padding: 0px;
    margin: 0px;
    font-family: 'KoHo', sans-serif;
}

.title {
    position: relative;
    margin: 0 auto;
    text-align: center;
    display: block;
    font-size: 30px;
    font-weight: 600;
}

.subtitle {
    position: relative;
    margin: 0 auto;
    text-align: center;
    display: block;
}

.name {
    font-weight: 600;
}

/**
light blue: #BFE6EF
turquoise: #359D93
gold: #EEBD6B
medium blue: #447695
dark blue: #04082E
*/
