#intro {
    background-color: #A1D6E2;
    height: 100vh;
    text-align: center;

    display: flex;
    align-items: center;
    justify-content: center;
}

#text {
    font-size: 40px;
    font-weight: 600;
    align-self: center;
}
