#projects {
    background-color: #F1F1F2;
    padding: 10vh 0px;
}

.projectsContainer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    flex: 1;
    justify-content: center;
}

.projectEntry {
    position: relative;
    margin: 20px 20px;
    background-color: white;
    width: 40vw;
    max-width: 400px;
    text-align: center;
}

.projectDescription {
    margin-bottom: 50px;
}

#pokepredict {
    margin-bottom: 10px;
}

.projectFooter {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    align-self: flex-end;
    color: #bbbbbb;
}

.projectFooter span {
    margin: 0 10px;
}

.projectFooter span:hover {
    color: #447695;
    border-bottom: 1px solid #447695;

    transition: 0.1s;
}