#projects {
    background-color: #359D93;
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    flex: 1;
    justify-content: center;
}

.projectEntry {
    margin: 20px 20px;
    background-color: white;
    width: 40vw;
}